@import "../styles.scss";

.get-started-form {
  &-container {
    padding: 0 3.2rem;

    @media screen and (max-width: 600px) {
      padding: 0 2.4rem;
    }
  }

  &-content {
    display: flex;
    gap: 0.8rem;

    width: 100%;
    max-width: 58.6rem;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  & {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }

  &-header {
    @include small-paragraph;
  }

  &-input {
    flex: 1 1 auto;
  }

  &-button {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      align-self: center;
    }
  }
}
