@import "../fonts.scss";

.input-field {
  &-container {
    position: relative;
    background: var(--col-black-light);
    border: 1px solid var(--col-gray-light);
    border-radius: 0.4rem;
    color: transparent;
  }

  &-label {
    @include smaller-paragraph;
    line-height: 1.5;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    color: var(--col-white-light);
    white-space: nowrap;
    pointer-events: none;
    user-select: none;

    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;

    @media screen and (max-width: 600px) {
      top: 1.1rem;
    }
  }

  &-elements {
    @include smaller-paragraph;
    line-height: 1.5;
    color: var(--col-white);
    fill: currentcolor;
    min-width: 20rem;
    width: 100%;
  }

  &-element {
    @include smaller-paragraph;
    line-height: 1.5;
    width: 100%;
    color: inherit;
    padding: 2.4rem 1.6rem 0.8rem;
    min-height: 1.6rem;
    min-width: 1.6rem;
    background: transparent;
    border: none;
    max-height: 5.4rem;

    &:focus-visible {
      outline: 2px solid var(--col-white);
      outline-offset: 3px;
      border-radius: 3px;
    }

    @media screen and (max-width: 600px) {
      max-height: 4.6rem;
    }
  }
}
