@import "../styles/fonts.scss";

.language-selector {
  &-container {
    @include smaller-paragraph;
    line-height: 1.5;
    color: var(--col-white);
  }

  &-button {
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
  }

  &-elements {
    appearance: none;
    font: inherit;
    color: inherit;
    background: transparent;
    border: 1px solid var(--col-gray-light);
    border-radius: 0.4rem;
    line-height: 2rem;
    padding: 0.5rem 3.5rem;
    background: var(--col-black-light);

    &:focus-visible {
      outline: 2px solid var(--col-white);
      outline-offset: 3px;
      border-radius: 3px;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    height: 1.6rem;
    width: 1.6rem;

    &--left {
      left: 1.2rem;
    }

    &--right {
      padding-top: 2px;
      right: 13px;
    }
  }
}

// Shrink for the header only
.header-bar-buttons-container {
  .language-selector-elements {
    @media screen and (max-width: 600px) {
      width: 1rem;
      padding: 0.5rem 3.1rem;
    }
  }
}
