@import "../styles/layouts.scss";
@import "../styles/fonts.scss";

.feature {
  position: relative;

  &-content {
    @include main-layout;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: auto;
    padding: 6rem 3.2rem 7rem;

    @media screen and (max-width: 960px) {
      flex-direction: column;
      text-align: center;
      padding: 8.6rem 3.2rem 7.2rem;
    }
    @media screen and (max-width: 600px) {
      padding: 7rem 2.4rem 5.5rem;
    }

    &.reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: 960px) {
        flex-direction: column;
      }
    }
  }

  &-text {
    &-container {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-top: -1.4rem;
    }
  }

  &-media {
    &-container {
      flex-basis: 50%;
      position: relative;
      padding-top: 1.2rem;
    }

    &-image {
      width: 100%;
      height: auto;
    }

    &-video {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      overflow: hidden;
      display: inline-block;
      vertical-align: baseline;

      &--first {
        top: 46%;
        max-width: 73%;
        max-height: 54%;
      }
      &--second {
        top: 34%;
        max-width: 63%;
        max-height: 47%;
      }
    }

    &-box {
      box-sizing: content-box;
      width: 50%;
      padding: 0.8rem 1.2rem;
      overflow: hidden;
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translateX(-50%);
      margin: 0 auto;
      background: var(--col-black);
      display: flex;
      align-items: center;
      min-width: 15rem;
      border: 2px solid var(--col-gray-light);
      box-shadow: 0 0 2em 0 var(--col-black);
      border-radius: 1.2rem;
      z-index: 1;

      @media screen and (max-width: 1280px) {
        width: 60%;
      }
      @media screen and (max-width: 600px) {
        padding: 0 1.05rem;
      }
    }

    &-image-box {
      display: inline-block;
      margin: 0 1.6rem 0 0;
      img {
        height: 8rem;
        width: auto;
        @media screen and (max-width: 960px) {
          height: 6.4rem;
        }
        @media screen and (max-width: 600px) {
          height: 4.8rem;
        }
      }
    }

    &-text-box {
      text-align: left;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0.48rem 0;
    }

    &-text-title {
      @include smaller-paragraph--bold;
    }

    &-text-status {
      @include smallest-paragraph;
      color: var(--col-blue);

      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
      }
    }

    &-animation-box {
      height: 6rem;
      width: 4.8rem;
      outline: 2px solid rgb(0, 0, 0);
      background: url(https://raw.githubusercontent.com/Peac-h/netflix-landing-page/main/src/assets/download-icon.gif)
        center center no-repeat;
      background-size: 100%;
    }
  }
}
