:root {
  --col-white: #fff;
  --col-white-light: rgba(255, 255, 255, 0.7);
  --col-black: #000;
  --col-black-light: rgba(22, 22, 22, 0.7);
  --col-black-lighter: rgb(0 0 0 / 40%);
  --col-main-red: #e50914;
  --col-main-dark-red: #c11119;
  --col-main-darkest-red: #99161d;
  --col-gray-dark: #232323;
  --col-gray-light: rgba(128, 128, 128, 0.7);
  --overlay-gradient: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

// Mixins
// Fonts
@mixin big-header--bold {
  font-size: 4.8rem;
  font-weight: 900;

  @media screen and (max-width: 960px) {
    font-size: 3.2rem;
  }
}
@mixin regular-paragraph {
  font-size: 2.4rem;
  font-weight: 400;

  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
  }
}
@mixin regular-paragraph--bold {
  font-size: 2.4rem;
  font-weight: 500;

  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}
@mixin small-paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (max-width: 960px) {
    font-size: 1.8rem;
  }
}
@mixin smaller-paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
@mixin smallest-paragraph {
  font-size: 1.4rem;
  font-weight: 400;
}

// Elements
@mixin hr-rule {
  width: 100%;
  height: 0.8rem;
  background: var(--col-gray-dark);

  position: absolute;
  left: 0;
  bottom: -0.8rem;
}

// Fonts
@font-face {
  font-family: "sans";
  src: url(../src/font/NetflixSans_W_Bd.woff2);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sans";
  src: url(../src/font/NetflixSans_W_Md.woff2);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "sans";
  src: url(../src/font/NetflixSans_W_Rg.woff2);
  font-weight: 400;
  font-style: normal;
}

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "sans";
  @include regular-paragraph;
  background: var(--col-black);
  max-width: 100%;

  h1,
  h2 {
    @include big-header--bold;
  }

  button {
    font: inherit;
    line-height: inherit;
  }

  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  // Reusables

  .horizontalLine {
    @include hr-rule;
  }
}
